body
{
    font-family: 'LiberationSans', sans-serif;
    margin-left: 3ex;
    margin-right: 3ex;
}

pre
{
    background-color: #EEE; 
}

dt
{
	font-style: italic;
}

.url
{
	background-color: #EEE; 
}


#info table
{
    border: none;
    width: 100%;
}

#info table tr
{
    text-align: left;
}

#info table tr:nth-child(even)
{
	background: #EEE;
}

#info table td
{
  vertical-align: top;
}



