body
{
    font-family: 'LiberationSans', sans-serif;
}

pre
{
    background-color: #EEE; 
}

dt
{
	font-style: italic;
}

#url, #info_url
{
	background-color: #EEE; 
}


#info table
{
    border: none;
    width: 100%;
}

#info table tr
{
    text-align: left;
}

#info table tr:nth-child(even)
{
	background: #EEE;
}

#info table td
{
  vertical-align: top;
}



